.header img {
    width: 300px;
    height: 120px;
    /* text-align: center; */
    padding:1%;
}

.navbar {
    margin-bottom: 2%;
}

/* navbar color change code source :https://medium.com/wdstack/bootstrap-4-custom-navbar-1f6a2da5ed3c */
.navbar-custom {
    background-color:  #FFDB99;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #4C4C4C;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #4C4C4C;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #4C4C4C;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFF0D6;
    color:#4C4C4C;
    text-align: center;
    font-size: 1em;
    padding: 1%;
}

.budget h4 {
    text-align: center;
    padding-bottom: 2%;
    color: #4C4C4C;
}
.budget h5 {
    padding-top: 2%;
    color: #4C4C4C;
    text-align: left;
}

.budget {
    margin-left: 2%;
    margin-right: 2%;
}

.tips, .budget, .goals, .calendar, .visuals {
    margin-bottom: 5%;
}

.tips, .calendar, .budget, .goals, .visuals h1 {
    text-align: center;
    padding-bottom: 1%;
    color: #4C4C4C;
}
.jumbotron{
    background-color:  #FFF0D6 !important; 
    color: #4C4C4C;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;

}

#calendar {
    width: 100%;    
}

#calendar a {
    color: #8e352e;
    text-decoration: none;
}

#calendar ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    width: 100%;
}

#calendar li {
    display: block;
    float: left;
    width:14.37%;
    padding: 5px;
    box-sizing:border-box;
    border: 1px solid #ccc;
    margin-left: -1px;
}

.lastRow li {
    margin-bottom: 8%;
}

#calendar ul.weekdays {
    height: 40px;
    background: #4C4C4C;
}

#calendar ul.weekdays li {
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    border: none !important;
    padding: 10px 6px;
    color: white;
    font-size: 1.15em;
}

#calendar, .days li {
    height: 250px;
}

.table {
    text-align: left;
}

#calendar .days li:hover {
    background: #d3d3d3;
}

.date {
    color: #4C4C4C;
    text-align: left;
    padding-left: 3%;
    font-size: 1.15em;
}

#calendar .event-income {
    font-size: 1em;
    padding-top: 1%;
    color: #4C4C4C;
    text-decoration: none;
}

#calendar .event-expense {
    font-size: 1em;
    padding-top: 1%;
    color: #4C4C4C;
    text-decoration: none;
}

#calendar .other-month {
    background: #f5f5f5;
    color: #666;
}

.calendar_details, .card {
    display: none;
    text-align: center;
    border: 1px solid #000000;
}

.visuals h4 {
    padding-bottom: 1%;
    color: #4C4C4C;
}

.graphDisplay {
    width: 10%; 
    height: auto;
    margin-left:0;
    padding-left:0;
    text-align: left;
}