.header img {
    width: 200px;
    height: 120px;
    text-align: center;
    padding:0;
}

.header {
    text-align: center;
    border-width: 1px;
    border-top-color: #420420;
    border-bottom-color: #420420;
    border-left-color: white;
    border-right-color:white;
    border-style: solid;
    padding: 0;
}

.navbar {
    margin-bottom:2%;
}

.budget h4 {
    text-align: center;
    padding-bottom: 2%;
    color: #420420;
}
.budget h5 {
    padding-top: 2%;
    color: #420420;
}

.budget {
    margin-left: 2%;
    margin-right: 2%;
}

.tips h1 {
    text-align: center;
    padding-bottom: 1%;
    color: #420420;
}

.goals h1 {
    text-align: center;
    padding-bottom: 1%;
    color: #420420;
}

.jumbotron{
    background-color:  #420420 !important; 
    color: white !important;
    margin: 7%;
}

#calendar {
    width: 100%;    
}

#calendar a {
    color: #8e352e;
    text-decoration: none;
}

#calendar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#calendar li {
    display: block;
    float: left;
    width:14.342%;
    padding: 5px;
    box-sizing:border-box;
    border: 1px solid #ccc;
    margin-right: -1px;
    margin-bottom: -1px;
}

#calendar ul.weekdays {
    height: 40px;
    background: #BBBBBB;
}

#calendar ul.weekdays li {
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    border: none !important;
    padding: 10px 6px;
    color: #fff;
    font-size: 13px;
}

#calendar .days li {
    height: 180px;
}

#calendar .days li:hover {
    background: #d3d3d3;
}

#calendar .date {
    text-align: center;
    margin-bottom: 5px;
    padding: 4px;
    background: #333;
    color: #fff;
    width: 25px;
    border-radius: 50%;
    float: right;
}

#calendar .event-income {
    clear: both;
    display: block;
    font-size: 13px;
    border-radius: 4px;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 5px;
    line-height: 14px;
    background: #5ced8f;
    border: 1px solid #45ad6a;
    color: #000000;
    text-decoration: none;
}

#calendar .event-expense {
    clear: both;
    display: block;
    font-size: 13px;
    border-radius: 4px;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 5px;
    line-height: 14px;
    background: #f54242;
    border: 1px solid #a33131;
    color: #000000;
    text-decoration: none;
}

#calendar .other-month {
    background: #f5f5f5;
    color: #666;
}

.calendar_details, .card {
    display: none;
    text-align: center;
    border: 1px solid #000000;
}